.user-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 17rem;
  min-height: 25rem;
  max-width: 17rem;
  max-height: 25rem;
  position: fixed;
  right: 2rem;
  bottom: 5rem;
  font-size: 1rem;
  background-color: #fff;
  color: #6c757d;
  outline: 1px solid #6c757d;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.user-chat h3 {
  margin: 0;
  color: #000;
}

.container {
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: 19rem;
}
